/*****
GENERAL STYLES
*****/

h1, h2, h3, h4 {
	font-family: 'Noto Sans KR', sans-serif;
}

p {
	font-family: 'Noto Sans KR';
	font-size: 18px;
	font-weight: 300;
}

h1 {
	font-size: 44px;
	font-weight: 700;
}

h3 {
	font-weight: 300;
}

li {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: orange;
}

a:hover {
	color: green;
}

.primary {
	background: #fafafa;
}

.secondary {
	background: #253031;
	color: white;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.highlight-primary {
	color: orange;
}

.highlight-secondary {
	color: #253031;
}

/*****
HEADER/FOOTER
*****/

#header {
	background: #253031;
	text-align: center;
	font-weight: 700;
}

#site-header {
	padding: 0 0 20px 15px;
}

#site-header a {
	color: white;
}

#site-header a:hover {
	text-decoration: none;
}

#header-icons {
	margin-top: 10px;
}

.pad {
	padding-top: 10px;
	padding-bottom: 20px;
}

/*.al-icon {
	height: 26px;
	width: 20px;
	margin: 0 5px;
}*/

.icon {
	height: 26px;
	width: 26px;
	margin: 0 5px;
}

#footer {
	background: black;
	padding-bottom: 20px;
}

#footer-icons {
	margin-top: 20px;
}

/*****
PAGE: HOME
*****/

#hero {
	overflow: hidden;
}

.h1-container {
	margin: 10px 0 20px;
}

#profile-photo {
	border-radius: 10%;
	width: 60%;
	min-width: 350px;
	border: 2px solid #ddd;
}

.light {
	font-weight: 400;
}

#about-photo {
	width: 70%;
	max-width: 600px;
}

.secondary-p-container {
	background: white;
	color: black;
	padding: 10px;
	margin-top: 20px;
	border: 2px solid #ddd;
}

#alr-photo {
	max-width: 100%;
}

#cohn-photo {
	width: 100%;
	max-width: 388px;
}

#raw-photo {
	width: 100%;
	max-width: 500px;
}

#meb-photo {
	width: 100%;
	max-width: 500px;
}

.testimonial-row {
	margin: 50px 2% 0;
	background: white;
	color: black;
	padding: 10px;
	border: 2px solid #ddd;
}

iframe {
	max-width: 100%;
}

#ravti a {
	color: #3D4094;
}

#ravti a:hover {
	color: #61AB7D;
}

#be a {
	color: #1270E2;
}

#be a:hover {
	color: #0059c4;
}

#spacious a {
	color: #f5f459;
}

#spacious a:hover {
	color: #3948C2;
}

#wework a {
	color: white;
}

#wework a:hover {
	color: black;
}

#crystal a {
	color: #43A2E8;
}

#crystal a:hover {
	color: #2E6492;
}

/****
PAGE:BOOKS
****/

.books-overview {
	margin-bottom: 20px;
	border-bottom: 1px solid grey;
}

/****
PAGE:NOTES
****/

.book-summary {
	padding: 0 5%;
	border-bottom: 1px solid #555;
	color: black;
}

.book-summary h1 {
	color: black;
}

.notes {
	font-family: Roboto;
	max-width: 80%;
	margin: auto;
	padding-top: 2em;
	color: black;
}

.notes img {
	max-width: 100%;
}

/****
PAGE:LYFT
****/

#lyft {
	background-color: #FF00BF;
}

#lyft-logo {
	max-width: 1.75em;
}

/****
PAGE:TROOPS
****/

#troops {
	background-color: #29337B;
}

#troops h1 {
	font-weight: 300;
}

#troops-logo {
	max-width: 5em;
	margin-left: 5px;
}

/****
PAGE:COMPANY
****/

.company-top {
	margin-top: 50px;
}

.greeting {
	margin: 20px 0;
	font-size: 16px;
}

.c-video {
	margin-bottom: 30px;
	max-width: 100%;
}

.company-icons {
	margin: 20px 0 30px;
}

.c-al-icon {
	height: 50px;
	width: 40px;
	margin: 0 10px;
}

.c-icon {
	height: 50px;
	width: 50px;
	margin: 0 10px;
}

/* ALIGNMENT STYLES */

.vertical-center {
	min-height: 100%;
	/* Fallback for browsers do NOT support vh unit */
	min-height: 100vh;
	/* These two lines are counted as one :-)       */
	width: 100vw;
	display: flex;
	align-items: center;
}

.desktop-display {
	display: block;
}

.mobile-display {
	display: none;
}

/* FONT TRANSFORMATIONS */

.font-change-handwritten-header {
	padding-right: 8px;
	font-family: 'Nothing You Could Do', cursive;
}

.font-change-handwritten {
	padding-right: 8px;
	font-family: 'Nothing You Could Do', cursive;
}

.font-change-bold {
	font-weight: 900;
	font-size: 8vw;
}

.header-text {
	font-weight: 300;
	font-size: 4vw;
}

.tagline {
	font-weight: 100;
	padding-top: 20px;
}