
/*****
GENERAL STYLES
*****/

p {
	font-family: 'Roboto';
}

a {
	text-decoration: none;
}

h1,
h2,
h3 {
	font-family: 'Lato';
}


/*****
PAGE: HOME
*****/

#homepage{
	background-color: black;
}

#homepage a {
	color: green;
}

#homepage a {
	color: green;
}

#header {
	margin-top: 55px;
}

.al-icon {
	height: 26px;
	width: 20px;
	margin: 0 5px;
}

.icon {
	height: 26px;
	width: 26px;
	margin: 0 5px;
}

.intro {
	margin-top: 100px;
}

.intro h1,
h2,
h3 {
	color: white;
}

.words {
	font-size: 1.5em;
	font-weight: 100;
}

/****
PAGE:BOOKS
****/

.container {
	text-align: center;
	margin-top: 10px;
}

.underline {
	text-decoration: underline;
}

.book-list a {
	color: #001dff;
}

.book-list a:hover {
	color: #19e59a;
}

#books-container{
	max-width: 90%;
	margin: auto;
	padding: 20px 0 80px;
}

#books-overview {
	text-align: left;
	padding-left: 0;
	margin-bottom: 30px;
}

#top{
	text-align: left;
	font-family: Roboto;
}

.books{
		text-align: left;
		font-family: Roboto;
	}

.book-list{
	list-style: none;
}

/****
PAGE:NOTES
****/

.book-summary {
	padding: 0 5%;
	border-bottom: 1px solid #555;
}

.notes {
	font-family: Roboto;
	max-width: 80%;
	margin: auto;
	padding-top: 2em;
}

.notes img {
	max-width: 100%;
}

/*****
FOOTER ICONS
*****/

footer {
	background-color: #f2f2f2;
	padding: 1em 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

footer div {
	display: inline-block;
	max-width: 15%;
}

.twitter-icon {
	background-color: #55acee;
	border-radius: 20%;
	width: 100%;
	max-width: 60px;
}

.linkedin-icon {
	width: 100%;
	margin: auto 0;
	border-radius: 20%;
	max-width: 60px;
}

/*****
STICKY-FOOTER
*****/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 114px;  /*bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
