
/*****
GENERAL STYLES
*****/

p {
	font-family: Roboto;
}

a {
	text-decoration: none;
}

h1,
h2,
h3 {
	font-family: Lato;
}

.container {
	text-align: center;
	margin-top: 10px;
}

.underline {
	text-decoration: underline;
}

/*****
PAGE: HOME
*****/

#profile-photo {
	display: block;
	max-width: 80%;
	margin: 20px auto 0;
	border-radius: 10%;
	border: 2px solid black;
}

#music {
	color: #990000;
}

#music:hover {
	color: #660000;
}

#crystal,
nav a {
	color: #48b1db;
}

#crystal:hover,
nav a:hover {
	color: #5e8eab;
}

.words {
	padding: 1em 7%;
}

#name {
	font-style: bold; 
	font-size: 1.8em; 
	font-weight: 800;
	margin: 1.5em 0 0;
}

#intro {
	margin: 1.5em 0 2em;
	font-size: 1.6em;
}


/*****
PAGE: MUSIC
*****/

nav {
	text-align: left;
	border-bottom: 1px solid #eee;
	background: #fcfcfc;
	overflow: auto;
}

nav a {
	margin-left: 20px;
}

.music-container {
	text-align: center;
	margin: 20px auto;
	padding-bottom: 10px;
}

.music-container p {
	max-width: 90%;
	margin: 1em auto;
	text-align: left;
}

#early-bird {
	background: #fff3b2;
	background: radial-gradient(circle at top, #fff7d3, #fffbea 40%, transparent 100%);
	border-bottom: 1px solid #ccc;
	padding-top: 1px;
	margin-top: 0;
}

#early-bird a {
	color: #0687f5;
}

#early-bird a:hover {
	color: #fff;
}

#justin-jesse {
	background: #990000;
	border-top: 1px solid #800000;
	border-bottom: 1px solid #800000;
	color: #fff;
	margin-bottom: 95px;
}

iframe{
	max-width: 95%;
}

/****
PAGE:BOOKS
****/

#books-container{
	max-width: 90%;
	margin: auto;
	padding: 20px 0;
}

#books-overview {
	text-align: left;
	list-style: none;
	padding-left: 0;
}

.books
	{
		text-align: left;
	}

/****
PAGE:NOTES
****/



/*****
FOOTER ICONS
*****/

footer {
	background-color: #f2f2f2;
	padding: 1em 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

footer div {
	display: inline-block;
	max-width: 15%;
}

.twitter-icon {
	background-color: #55acee;
	border-radius: 20%;
	width: 100%;
	max-width: 60px;
}

.linkedin-icon {
	width: 100%;
	margin: auto 0;
	border-radius: 20%;
	max-width: 60px;
}

/*****
STICKY-FOOTER
*****/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 70px;  /*bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
}
