/*****
GENERAL STYLES
*****/

h1,
h2,
h3,
h4
	{
	font-family: 'Lato';
}

p {
	font-family: 'Roboto';
	font-size: 18px;
}

h1 {
	font-size: 44px;
	font-weight:700;
}

h3 {
	font-weight: 300;
}

li {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: orange;
}

a:hover {
	color: green;
}

.primary {
	background: #fafafa;
}

.secondary {
	background:  #5c6894;
	color: white;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.highlight-primary {
	color: orange;
}

.highlight-secondary {
	color:  #5c6894;
}

/*****
HEADER/FOOTER
*****/

#header {
	background: black;
	text-align: center;
	font-weight: 700;
}

#site-header {
	padding: 0 0 20px 15px;
}

#site-header a {
	color: white;
}

#site-header a:hover {
	text-decoration: none;
}

#header-icons {
	margin-top: 10px;
}

.pad {
	padding-top: 10px;
	padding-bottom: 20px;
}

/*.al-icon {
	height: 26px;
	width: 20px;
	margin: 0 5px;
}*/

.icon {
	height: 26px;
	width: 26px;
	margin: 0 5px;
}

#footer {
	background: black;
	padding-bottom: 20px;
}

#footer-icons {
	margin-top: 20px;
}

/*****
PAGE: HOME
*****/

/*#hero {
	background-image: url(../assets/images/test.jpeg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    width: 400px;
    height: 400px;
}*/

.h1-container {
	margin: 10px 0 20px;
}

#profile-photo {
	border-radius: 10%;
	width: 60%;
	max-width: 350px;
	border: 2px solid #ddd;
}

.light {
	font-weight: 400;
}

#about-photo {
	width: 70%;
	max-width: 600px;
}

.p-container {
	background: white;
	color: black;
	padding: 10px ;
	margin-top: 10px;
	border: 2px solid #ddd;
}

.secondary-p-container {
	background: white;
	color: black;
	padding: 10px;
	margin-top: 20px;
	border: 2px solid #ddd;
}

#alr-photo {
	max-width: 100%;
}

#cohn-photo {
	width: 100%;
	max-width: 388px;
}

.testimonial-row {
	margin-top: 50px;
}

iframe {
    max-width: 100%;
}

#ravti a {
	color: #3D4094;
}

#ravti a:hover {
	color: #61AB7D;
}

#be a {
	color: #1270E2;
}

#be a:hover {
	color: #0059c4;
}

#spacious a {
	color: #f5f459;
}

#spacious a:hover {
	color: #3948C2;
}

#wework a {
	color: white;
}

#wework a:hover {
	color: black;
}

#crystal a {
	color: #43A2E8;
}

#crystal a:hover {
	color: #2E6492;
}

/****
PAGE:BOOKS
****/

.books-overview {
	margin-bottom: 20px;
	border-bottom: 1px solid grey;
}

/****
PAGE:NOTES
****/

.book-summary {
	padding: 0 5%;
	border-bottom: 1px solid #555;
	color: black;
}

.book-summary h1 {
	color: black; }

.notes {
	font-family: Roboto;
	max-width: 80%;
	margin: auto;
	padding-top: 2em;
	color: black;
}

.notes img {
	max-width: 100%;
}

/****
PAGE:LYFT
****/

#lyft {
	background-color: #FF00BF;
}

#lyft-logo {
	max-width: 1.75em;
}

/****
PAGE:TROOPS
****/

#troops {
	background-color: #29337B;
}

#troops h1 {
	font-weight: 300;
}

#troops-logo {
	max-width: 5em;
	margin-left: 5px;
}

/****
PAGE:COMPANY
****/

.company-top {
	margin-top: 50px;
}

.greeting {
	margin: 20px 0;
	font-size: 16px;
}

.c-video {
	margin-bottom: 30px;
	max-width: 100%;
}

.company-icons {
	margin: 20px 0 30px;
}

.c-al-icon {
	height: 50px;
	width: 40px;
	margin: 0 10px;
}

.c-icon {
	height: 50px;
	width: 50px;
	margin: 0 10px;
}