
/*****
GENERAL STYLES
*****/

body {
	background-color: black;
	color: white;
}

p,
ol,
ul {
	font-family: 'Roboto';
}

a {
	text-decoration: none;
	color: orange;
}

a:hover {
	color: green;
}

h1,
h2,
h3,
h4 {
	font-family: 'Lato';
	color: white;
}


/*****
PAGE: HOME
*****/

#icons {
	margin-top: 55px;
	padding-right: 5px;
}

.al-icon {
	height: 26px;
	width: 20px;
	margin: 0 5px;
}

.icon {
	height: 26px;
	width: 26px;
	margin: 0 5px;
}

.intro {
	margin-top: 100px;
}

#name {
	font-size: 40px;
}

#skills {
	font-size: 24px;
}

.words {
	font-size: 1.5em;
	font-weight: 100;
	line-height: 1.5em;
}

#spacious a {
	color: #f5f459;
}

#spacious a:hover {
	color: #3948C2;
}

#crystal a {
	color: #43A2E8;
}

#crystal a:hover {
	color: #2E6492;
}

/****
PAGE:BOOKS
****/

#site-header {
	border-bottom: 2px solid white;
	padding: 5px 0 10px;
}

#site-header a:hover {
	text-decoration: none;
}

#site-header h3, 
h4 {
	margin: 1px 0;
}

#site-header h4 {
	font-size: 14
	px;
}

#books-icons {
	margin-top: 15px;
}

.books-overview {
	margin-bottom: 20px;
	border-bottom: 1px solid grey;
}

/****
PAGE:NOTES
****/

.book-summary {
	padding: 0 5%;
	border-bottom: 1px solid #555;
	color: black;
}

.book-summary h1 {
	color: black; }

.notes {
	font-family: Roboto;
	max-width: 80%;
	margin: auto;
	padding-top: 2em;
	color: black;
}

.notes img {
	max-width: 100%;
}

/****
PAGE:LYFT
****/

#lyft {
	background-color: #FF00BF;
}

#lyft-logo {
	max-width: 1.75em;
}

/****
PAGE:TROOPS
****/

#troops {
	background-color: #29337B;
}

#troops h1 {
	font-weight: 300;
}

#troops-logo {
	max-width: 5em;
	margin-left: 5px;
}

/****
PAGE:COMPANY
****/

.company-top {
	margin-top: 50px;
}

.greeting {
	margin: 20px 0;
	font-size: 16px;
}

.c-video {
	margin-bottom: 30px;
	max-width: 100%;
}

.company-icons {
	margin: 20px 0 30px;
}

.c-al-icon {
	height: 50px;
	width: 40px;
	margin: 0 10px;
}

.c-icon {
	height: 50px;
	width: 50px;
	margin: 0 10px;
}