
/*****
GENERAL STYLES
*****/

p {
	font-family: 'Roboto';
}

a {
	text-decoration: none;
}

a:hover {
	color: #ac69ea;
}

h1,
h2,
h3 {
	font-family: 'Lato';
}

.container {
	text-align: center;
	margin-top: 10px;
}

.underline {
	text-decoration: underline;
}

/*****
PAGE: HOME
*****/

#profile-photo {
	max-width: 70%;
	margin: 20px auto 0;
	border-radius: 10%;
	border: 1px solid grey;
}

#music {
	color: #990000;
}

#music:hover {
	color: #e60000;
}

#crystal,
nav a {
	color: #459CC4;
}

#crystal:hover,
nav a:hover {
	color: #8fc4dc;
}

#book-link {
	color: #007200;
}

#book-link:hover {
	color: #00e700;
}

#blog-link {
	color: #001dff;
}

#blog-link:hover {
	color: #19e59a;
}

#name {
	font-style: bold; 
	font-size: 1.8em; 
	font-weight: 700;
	margin: 1.5em 0 0;
}

#intro {
	margin: 1.5em 0 2em;
	font-size: 1.6em;
	font-weight: 400;
}


/*****
PAGE: MUSIC
*****/

.music-container {
	text-align: center;
	margin: 20px auto;
	padding-bottom: 10px;
}

.music-container p {
	max-width: 90%;
	margin: 1em auto;
	text-align: left;
}

#early-bird {
	background: #fff3b2;
	background: radial-gradient(circle at top, #fff7d3, #fffbea 40%, transparent 100%);
	border-bottom: 1px solid #ccc;
	padding-top: 1px;
	margin-top: 0;
}

#early-bird a {
	color: #0687f5;
}

#early-bird a:hover {
	color: #fff;
}

#justin-jesse {
	background: #990000;
	border-top: 1px solid #800000;
	border-bottom: 1px solid #800000;
	color: #fff;
	margin-bottom: 95px;
}

iframe{
	max-width: 95%;
}

/****
PAGE:BOOKS
****/

.book-list a {
	color: #001dff;
}

.book-list a:hover {
	color: #19e59a;
}

#books-container{
	max-width: 90%;
	margin: auto;
	padding: 20px 0 80px;
}

#books-overview {
	text-align: left;
	padding-left: 0;
	margin-bottom: 30px;
}

#top{
	text-align: left;
	font-family: Roboto;
}

.books{
		text-align: left;
		font-family: Roboto;
	}

.book-list{
	list-style: none;
}

/****
PAGE:NOTES
****/

.book-summary {
	padding: 0 5%;
	border-bottom: 1px solid #555;
}

.notes {
	font-family: Roboto;
	max-width: 80%;
	margin: auto;
	padding-top: 2em;
}

.notes img {
	max-width: 100%;
}

/*****
FOOTER ICONS
*****/

footer {
	background-color: #f2f2f2;
	padding: 1em 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

footer div {
	display: inline-block;
	max-width: 15%;
}

.twitter-icon {
	background-color: #55acee;
	border-radius: 20%;
	width: 100%;
	max-width: 60px;
}

.linkedin-icon {
	width: 100%;
	margin: auto 0;
	border-radius: 20%;
	max-width: 60px;
}

.youtube-icon {
	width: 100%;
	margin: auto 0;
	border-radius: 20%;
	max-width: 60px;	
}

/*****
STICKY-FOOTER
*****/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 114px;  /*bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
