@media screen and (min-width: 768px) {
	#header {
		text-align: left;
	}
	#site-header {
		padding-bottom: 10px;
	}
	#header-icons {
		text-align: right;
		margin-top: 25px;
	}
	.p-container {
		margin-top: 0px;
	}

	/* #alr-photo {
		margin-top: 10%;
	}

	#cohn-photo {
		margin-top: 20%;
	}

	#meb-photo {
		margin-top: 95%;
	}

	#raw-photo {
		margin-top: 75%;
	} */

	#about-photo-container {
		text-align: right;
	}
	/***
	PAGE:BOOKS
	***/
	.books {
		border-left: 1px solid grey;
		border-right: 1px solid grey;
		padding: 0 40px;
	}
}

/* Weird stuff could probably fit in a diff media query but this is the only way I got it to work :shrug:*/


@media screen AND (min-width: 990px) {
	
	/* #alr-photo {
		margin-top: 0;
	} */

	/* #alr-testimonial {
		margin-top: 2%;
	}

	#cohn-photo {
		margin-top: 5%;
	}

	#meb-photo {
		margin-top: 48%;
	}

	#raw-photo {
		margin-top: 33%;
	} */

	/****
	PAGE:NOTES
	****/
	#notes {
		background-color: #fafafa;
	}
	.book-summary {
		background-color: white;
		border-bottom: 1px solid #ddd;
	}
	.notes {
		background-color: white;
		border: 1px solid #f2f2f2;
		padding: 2em 20px;
	}
}

@media screen AND (min-width: 1200px) {
	
	/* #cohn-photo {
		margin-top: 0;
	}

	#meb-photo {
		margin-top: 8%;
	}

	#raw-photo {
		margin-top: 6%;
	}

	#about-photo {
		padding-top: 0;
	} */


}

@media screen AND (min-width: 1400px) {
	#bio{
		margin-left: 80px;
		padding-right: 50px;
	}
/* 
	#meb-photo {
		margin-top: 20px;
	}

	#raw-photo {
		margin-top: 20px;
	} */
}

@media screen AND (max-width: 1800px) {
	.header-text {
		line-height:90px;
	}

	#meb-photo {
		margin-top: 0;
	}

	#raw-photo {
		margin-top: 0;
	}
}


/* TESTIMONIALS AND FLEX MEDIA QUERY */
@media screen AND (max-width: 1400px) {

	.fractal-container {
		width: 300%;
		margin-left: -50%;
	}

	.header-text {
		font-size: 6vw;
		line-height: 10vw;
	}
	
	#profile-photo {
		margin-top: 40px;
	}
	.desktop-display {
		display: none;
	}
	.mobile-display {
		display: block;
	}
	.tagline {
		padding: 20px;
		text-align: center;
	}
	.font-change-bold {
		font-size: 10vw;
	}
	.flex-container {
		flex-direction: column;
		width:100%;
	}
	.flex-about {
		flex-direction: column;
		max-width:100%;
		padding: 40px;
		margin-top: 40px;
	}

	.vertical-center {
		flex-direction: column;
	}
	#about-photo {
		margin-bottom: 40px;
	}
	.image-right {
		order:0;
	}
	.offset-right {
		margin-left: 0px;
	}
	.offset-left {
		margin-right: 0px;
	}
	.image-right {
		margin-left: 0px;
	}
	.image-left {
		margin-right: 0px;
	}

	.row {
		margin: 0;
	}
	.testimonial-photo {
		max-width: 300px;
		margin-bottom: 24px;
	}
	#about-photo {
		max-width: 300px;
	}
	#profile-photo{
		max-width: 300px;
	}
	.bigp {
		font-size: 20px;
		line-height: 3.5rem;
	}

	.flex-about {
		padding: 20px;
	}

	.align-middle {
		padding: 0;
	}
	
	#submit {
		width: 100%;
	}
}
@media screen AND (max-width: 800px) {
	.header-text{
		font-size: 10vw;
		line-height:15vw;
	}
	.font-change-bold {
		font-size: 19vw;
	}

	label {
		text-align: left;
	}
	
}

@media screen and (min-width: 320px) {
	.light {
		font-size: 40px
	}
}